<!-- using section -->
<script type="text/javascript" src="~/Scripts/MyScripts/datatablesFill.js"></script>
<script type="text/javascript" src="~/Scripts/MyScripts/PostActions.js"></script>
<script src="~/Scripts/MyScripts/DeleteAction.js"></script>
<script src="~/Scripts/MyScripts/GetActions.js"></script>
<script src="~/Scripts/MyScripts/datatables.js"></script>
<link href="~/Content/datatableFill.css" rel="stylesheet" />

<h2 style="color:darkorange">DB Manager</h2><br><br>
<h4 style="color:darkgreen">Insert data into database</h4>
<input inputmode="text" id="inputName1" value="exampleName" />
<input inputmode="text" id="inputCity1" value="exampleCity" />
<input inputmode="numeric" id="inputPostalCode1" value="6666" />
<input inputmode="text" id="inputCountry1" value="exampleCountry" /><br><br>
<button id="btnSaveToDb" type="button" onclick="onSaveIntoDbButtonClick()">Save Into DB</button>
<h7 id="txtInsert" style="color:blue;" border="1"> ... inserting result</h7>
<br><br>
<h4 style="color:crimson">Delete from DB</h4>
<button id="btnDelete" type="button" onclick="onDeleteButtonClick()">Delete last row</button>
<h7 id="txtDelete" style="color:blue;" border="1"> ... deleting result (last 6 persons cannon be deleted)</h7>
<br><br>

<h4 style="color:green">Data from database</h4>
<div id="divTable">
    <table id="tabPersons" border="3" style="width:60%">
        <tr>
            <th style="color:brown">Name</th>
            <th style="color:brown">City</th>
            <th style="color:brown">Zip</th>
            <th style="color:brown">Country</th>
        </tr>
        <tr>
            <td>Jill (html,no db)</td>
            <td>Zielona Gora</td>
            <td>5011</td>
            <td>Poland</td>
        </tr>
    </table>
</div>


<br><br><br>
<h4 style="color:darkkhaki">Test of external JS-Table</h4>
<!-- display example table from internet -->
<table id="example" class="display" width="100%"></table>


