
<div class="col-md-4">
    <h2>Getting started</h2>
    <p id="MyElement1">....Show value here...</p>
    <input inputmode="numeric" id="myinput1" value="0" /><br>
    <button type="button" onclick="onButtonClick()">Show value</button><br>
    <button type="button" onclick="onButtonClick2()">Open inputbox</button>
</div>
<div class="col-md-4">
    <h2>Person managment</h2>
    <p id="txtPerson">....Show person name here...</p>
    <button type="button" onclick="onPersonButtonClick()">Get name of first person by city</button><br>
    <button type="button" onclick="onPersonJsonButtonClick()">Get persons in Json</button><br>
    <input inputmode="text" id="inputCity" value="Berlin" />
</div>
<div class="col-md-4">
    <h2>Add person via Razor</h2>
    <button id="btnSave" type="button" onclick="onRazor()">TestRazor</button>
</div>

<div class="col-md-4">
    <h2>Add person to DB</h2>
    <input inputmode="text" id="inputName" value="exampleName" />
    <input inputmode="text" id="inputCity2" value="exampleCity" />
    <input inputmode="numeric" id="inputPostalCode" value="exampleZip" /><br>
    <button id="btnSave" type="button" onclick="onSaveIntoDbButtonClick()">Save Into DB</button>
</div>
<div class="col-md-4">
    <h2>Car selector</h2>
    <!-- Surround the select box within a "custom-select" DIV element.
    Remember to set the width: -->
    <div class="custom-select" style="width:200px;">
        <select id="myCombo">
            <option value="0">Select car:</option>
            <option value="1">Audi</option>
            <option value="2">BMW</option>
            <option value="3">Citroen</option>
            <option value="4">Ford</option>
            <option value="5">Honda</option>
            <option value="6">Jaguar</option>
            <option value="7">Land Rover</option>
            <option value="8">Mercedes</option>
            <option value="9">Mini</option>
            <option value="10">Nissan</option>
            <option value="11">Toyota</option>
            <option value="12">Volvo</option>
        </select>
    </div>
    <button type="button" onclick="onButtonClick2()">Display selected car</button>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
</div>


<script type="text/javascript" src="~/Scripts/MyScripts/GetActions.js"></script>
<script type="text/javascript" src="~/Scripts/MyScripts/PostActions.js"></script>

@*@section scripts
    {
        <script type="text/javascript">

        </script>

    }*@

