<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p id="MyElement1">XXX</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>


    <input inputmode="numeric" id="myinput1" value="0" />
    <input type="button" onclick="onButtonClick()"/>
</div>

@*script für javascript
    event WennDieDanzeSeiteAufgeldaenWird() {
        $.ajax
          get methode
          url : api/Values/getData
        done: function (result) {
           $("#labelGettingStarted").val(result);
        }
    }*@

@section scripts
{
  <script type="text/javascript">
      var onButtonClick =   function () { 
          $.ajax({
              url: "/api/Values/" + $("#myinput1").val(),

              success: function (result) {
                  $("#MyElement1").html("<strong>" + result + "</strong> ");
              }
          });
      }

   //   $(document).ready(function ()
   //   {    
   //      $.ajax({
   //          url: "/api/Values/" + $("#myinput1").val(),
             
   //          success: function (result)
   //          {
   //             $( "#MyElement1" ).html( "<strong>" + result + "</strong> " );
   //          }
   //     });
   //});
   </script>

}

