
@{
    ViewBag.Title = "About this";
}

<div class="col-md-2">
    <h1 style="color:brown; background-color:antiquewhite">Hello !!!</h1>
    <a href="mailto:victoor@o2.pl?subject=Hallo Victoor &body=I love you :)" style="font-size: 30px; text-decoration:none">Email Me</a>
    <img src="~/Content/Images/falubaz.png" alt="Falubaz">
</div>






