<script src="~/Scripts/MyScripts/ClientInfo.js"></script>
@{
    ViewBag.Title = "About this";
}

<div class="col-md-4">
    <h1 id="txtWelcome" style="color:brown; background-color:antiquewhite">Hello !!!</h1>
    <a href="mailto:victoor@o2.pl?subject=Hallo Victoor &body=I love you :)" style="font-size: 30px; text-decoration:none">Email Me</a>
    <img src="~/Content/Images/falubaz.png" alt="Falubaz">
</div>






