<script type="text/javascript" src="~/Scripts/MyScripts/GetActions.js"></script>
<script type="text/javascript" src="~/Scripts/MyScripts/PostActions.js"></script>
<script src="~/Scripts/MyScripts/ClientInfo.js"></script>

<div class="col-md-4">
    <h2>Getting started</h2>
    <span id="MyElement1" style="margin-left: 20px;">....Show value here...  </span><br>
    <input inputmode="numeric" id="myinput1" value="0" /><br>
    <button type="button" onclick="onButtonClick()">Show value</button><br>
    <button type="button" onclick="onButtonClick2()">Input your name</button>
</div>
<div class="col-md-4">
    <h2 style="color:darkorange">Person managment</h2>
    <p id="txtPerson">....Show person name here...</p>
    <button type="button" onclick="onPersonButtonClick()">Get name of first person by city</button><br>
    <button type="button" onclick="onPersonJsonButtonClick()">Get persons in Json by city</button><br>
    <input inputmode="text" id="inputCity" value="Berlin" />
</div>
@{
    ViewBag.Title = "Playground";
}

<div class="col-md-4">
    <h2>Razor test</h2>
    <button id="btnSRazor" type="button" onclick="OpenUrlInNewTab('/Razor')">Get person via Razor</button>
</div>
<div class="col-md-4">
    <h2 style= "color:orangered">Ip test</h2>
    <button type="button" onclick="getClientData()">Get client data</button><br>
    <ul id="lstClient">
        <li>...</li>
    </ul>

</div>

<div class="col-md-4">
    <h2>Car selector</h2>
    <!-- Surround the select box within a "custom-select" DIV element.
    Remember to set the width: -->
    <div class="custom-select" style="width:200px;">
        <select id="myCombo">
            <option value="0">Select car:</option>
            <option value="Audi">Audi</option>
            <option value="BMW">BMW</option>
            <option value="Citroen">Citroen</option>
            <option value="Ford">Ford</option>
            <option value="Honda">Honda</option>
            <option value="Jaguar">Jaguar</option>
            <option value="Land Rover">Land Rover</option>
            <option value="Mercedes">Mercedes</option>
            <option value="Mini">Mini</option>
            <option value="Nissan">Nissan</option>
            <option value="Toyota">Toyota</option>
            <option value="Volvo">Volvo</option>
        </select>
    </div>
    <button type="button" onclick="onCarClick()">Display selected car</button>
</div>

<form name="form1">
    <input type="hidden" name="Id">2</>
    <input type="hidden" name="Value" value="Some Text" />
</form>



